# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

*.idea
*.vscode
*.sqlite3
*pyc
.DS_Store
media
.empty
.vscode
.env
venv
env
.idea/
.venv
baixa.jpg
gif_teste.gif
imagem.jpg
.coverage
.scannerwork
__pycache__

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
